@import "./../theme/variable.scss";
@import "./../theme/animation.scss";

$input-status: (
  primary: $primary,
  danger: $danger
);

.input__control {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  margin-bottom: 5vh;
  @each $key, $value in $input-status {
    $color: map-get(
      $map: $theme-light,
      $key: $key
    );

    $dark-color: map-get(
      $map: $theme-dark,
      $key: $key
    );

    &.#{$key} {
      color: $value;
      label {
        height: auto;
        width: 80%;
        padding-left: 0.51rem;
        text-transform: capitalize;
        margin-bottom: 1vh;
        font-weight: 500;
        color: $dark-color;
      }

      textarea {
        overflow: hidden;
        height: auto;
        position: relative;
        width: auto;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          border-right: 1rem solid $color;
        }
      }

      input,
      textarea {
        width: auto;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 1vw;
        border-radius: 4px;
        box-shadow: none;
        font-size: 2vh;
        color: $value;
        border: 0.5px solid $color;
        @include input-focus(0.5, 0.5);

        &:active,
        &:focus {
          @include highlight($value);
        }
        &::placeholder {
          font-size: 1.5vh;
          color: $color;
        }
      }
    }
  }
}

button {
  height: 2rem;
  width: 10rem;
  margin: auto;
  // margin-righ: 0;
  border: 0;
  border-radius: 5px;
  @media screen and (max-width: 750px) {
    width: auto;
  }
  @each $key, $value in $input-status {
    &.#{$key} {
      color: white;
      $lighten: map-get(
        $map: $theme-dark,
        $key: $key
      );
      background-image: linear-gradient(to right, $lighten, $value);
      :focus,
      :active {
        @include highlight($value);
      }

      
    }
  }
}
