@import "./../../shared/theme/variable.scss";

.contact__wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 2rem;
  color: $primary;
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  display: block;
  background-color: $primary-light;

  .contact__form {
    margin: auto;
    height: auto;
    min-height: 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    $box-shadow : lighten($color: $default, $amount: 20);
    box-shadow:  -1px 0 10px 1px $default;
    border-radius: 5px;
    
    h2 {
      padding-bottom: 1rem;
      border-bottom: 2px solid $primary;
      margin-bottom: 3rem;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 1rem;
    .contact__form {
      width: 100%;
    }
  }
  @media screen and (min-width: 601px) and (max-width: 900px) {
    padding: 2rem;
    .contact__form {
      width: 70%;
    }
  }
  @media screen and (min-width: 901px) {
    .contact__form {
      width: 50%;
    }
  }
}
