@mixin input-focus($time, $delay) {
  transition: outline ($time + s) ($delay + s);
}

@mixin highlight($color) {
  box-shadow: 1px 0px 8px 0px $color, 4px 0px 1px 0px lighten($color: $color, $amount: 10) inset;
  border: 0;
  outline: none;
}
