$primary: #0e771f;
$secondary: #29b6f6;
$danger: #e00e0e;
$default: #707575;
$primary-light: lighten(
  $color: $primary,
  $amount: 75
);
$danger-light: lighten(
  $color: $danger,
  $amount: 75
);

$theme-light: (
  primary:
    darken(
      $color: $primary-light,
      $amount: 20
    ),
  danger:
    darken(
      $color: $danger-light,
      $amount: 20
    ),
  default:
    lighten(
      $color: $default,
      $amount: 20
    )
);

$theme-dark: (
  primary:
    darken(
      $color: $primary,
      $amount: 10
    ),
  danger:
    darken(
      $color: $danger,
      $amount: 10
    ),
  default:
    darken(
      $color: $default,
      $amount: 20
    )
);

$statuses: (
  primary: $primary,
  danger: $danger,
  default: $default
);
