header {
    position: fixed;
    z-index: 99;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    font-size: 19px;
    margin: 0;
    margin-left: auto;
    background-image: linear-gradient(to right, #37719e, #29B6F6);
    color: whitesmoke;
    flex: 1;
    padding: 0;
    opacity: .8;
}

ul li {
    flex-grow: 0;
    flex-shrink: 0;
    list-style-type: none;
    text-align: center;
    flex-basis: 10%;
}

header ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: auto;
    padding: 1rem;
}

ul li.active {
    border-bottom: 5px solid rgb(94, 240, 245);
}

ul li:hover {
    background-color: #14afca;
}

header {
    flex-direction: row;
    display: flex;
}

div.menu {
    background-image: linear-gradient(to right, #37719e, #37719e);
    position: relative;
    flex: 0 0 200px;
    opacity: .8;
    color: white;
    font-size: 21px;
    padding: 1rem;
}

div.menu::after {
    content: '';
    height: 5px;
    top: -2px;
    left: 0;
    width: 10px;
    padding: 1rem;
    opacity: .9;
}

div.menu::before
 {
    content: '';
    height: 5px;
    top: -2px;
    left: 0;
    width: 10px;
}
