@import "./../theme/variable.scss";

* {
  box-sizing: border-box;
}

@keyframes slidingIn {
  0% {
    transform: translateY(250px);
    display: none;
  }

  100% {
    transform: translateY(0);
    display: block;
  }
}

@mixin slidingInDelay($delay, $unit: s) {
  $delayUnit: #{$delay}s;
  animation: slidingIn 1s ease $delayUnit alternate;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;

  background-color: darken($color: $secondary, $amount: 20);
  .icon--close {
    line-height: 1;
    z-index: 9999;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    color: white;
    right: 2vh;
    top: 2vh;
    @media screen and (max-width: 1080px) {
      height: 3rem;
      width: 3rem;
    }
    @media screen and (max-width: 460px) {
      flex: 0 1 35vw;
    }
  }
  .brand__logo {
    flex: 0 20vw;
    color: white;
    font-size: 21px;
    @media screen and (min-width: 921px) {
      flex: 0 25vw;
      margin: 10px;
      // padding: 1rem;
    }
    @media screen and (max-width: 920px) {
      flex: 0 1 40vw;
      padding: 1rem;
    }
    @media screen and (max-width: 350px) {
      flex: 0 1 55vw;
      padding: 1rem;
    }
  }
  .navigation__menu {
    flex: 1;
    &.navigation__menu--mobile {
      position: relative;
      .icon__burger {
        position: absolute;
        width: 3vh;
        right: 2vh;
        top: 2vh;
      }
    }

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 17px;
      li {
        cursor: pointer;
        @media screen and (min-width: 1121px) {
          flex: 0 10vw;
        }
        flex: 0 20vw;
        text-align: center;
        &.active {
          border-bottom: 5px solid darken($color: $primary, $amount: 10);
        }
        &:hover {
          background-color: $primary;
        }
        a {
          display: inline-block;
          padding: 1rem;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.menu__container {
  position: fixed;
  height: 100%;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #1c506e, rgb(48, 148, 195));
  padding-top: 15vh;
  transition: background-image 5s ease;
  z-index: 999;
  opacity: 0.95;
  animation: menu__container__animate 1s;
  &.menu__container--hide {
    display: none;
  }
  ul {
    position: relative;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    li {
      text-align: center;
      font-size: 17px;
      background-color: transparent;
      &.active,
      &:hover {
        transition: all 1s ease 1s;
        transition-delay: 2s;
        opacity: 1;
        background: lighten(
          $color: (
            $primary
          ),
          $amount: 10
        );
      }
      a {
        width: 100vw;
        padding: 2vw;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-align: unset;
        letter-spacing: 1px;
        cursor: pointer;
        &:active {
          outline: 1px solid darken($color: $primary, $amount: 10);
        }
      }
    }
  }
}

@keyframes menu__container__animate {
  0% {
    bottom: -30vh;
  }

  30% {
    bottom: 0;
  }

  60% {
    bottom: -5vh;
  }

  80% {
    bottom: 0;
  }

  90% {
    bottom: -1vh;
  }

  100% {
    bottom: 0vh;
  }
}
