@import "./../theme/variable.scss";

.slider__container {
  position: relative;
  padding: 1rem;
  display: flex;
  .slider__image {
    width: 80vw;
    height: 30vh;
    @media screen and (min-width: 1056px) {
      height: 60vh;
    }
  }

  .slider__link {
    display: block;
    position: absolute;
    bottom: 4vh;
    height: 1vw;
    width: 1vw;
    background-color: white;
    border: 2px solid $primary;
    border-radius: 100%;
    z-index: 9;
    @media screen and (min-width: 1526px) {
      height: 2vh;
      width: 2vh;
    }
    &.slider__link--active {
      background-color: $primary;
      border: 2px solid white;
    }
  }
}
