@import './shared/theme/variable.scss';

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: block;
    height: 85%;
    background-color: $primary-light;
    padding: 1rem;
}